@use 'base/colors';
@use 'base/font';
@use 'base/breakpoints' as media;

.main {
	&__hero-container {
		display: grid;

		@include media.mobile-lg {
			grid-template-columns: 1fr 1fr;
			gap: 3rem;
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		margin-top: 10rem;

		h1 {
			@include media.mobile {
				font-size: 7rem;
			}
		}

		p {
		}

		button {
		}
	}

	&__statistics {
		display: flex;
		gap: 3rem;

		@include media.mobile-lg {
			margin-top: auto;
		}
	}

	&__statictic {
		&-heading {
			@include font.set(3.6rem, 400, colors.primary(400));
			@include font.get-heading();
		}

		&-description {
			@include font.set(2.4rem, 400, colors.primary(900));
		}
	}

	&__hero {
		position: relative;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: calc(50% - 24px);
			width: 48px;
			height: 48px;
			border-radius: 50%;
			border: 1px solid colors.primary(400);
		}
	}

	&__image-container {
		margin-top: 24px;
		border-radius: 50vw;
		border: 1px solid colors.primary(400);
		overflow: hidden;

		picture {
		}

		img {
			width: 100%;
			height: 45vw;

			@include media.mobile-lg {
				height: min(100vh, 100vw);
			}
		}
	}

	&__hero-border {
	}

	&__socials-container {
		display: none;
	}

	&__socials {
		a {
		}
	}

	&__side-image {
		img {
		}
	}
}
