@use 'base/colors';
@use 'base/font';
@use 'base/breakpoints' as media;

.main {
  display: grid;
  margin-block: 4rem;

  &__hero {
    position: relative;
    height: 20rem;
    
    div:first-child {
      width: 100%;
      height: 100%;
      border-radius: 200px;
      border: 2px solid colors.primary(400, 1);
      overflow: hidden;
    }
    
    &:before {
      content: '';
      position: absolute;
      top: -24px;
      left: calc(50% - 24px);
      width: 48px;
      height: 48px;
      border: 2px solid colors.primary(400, 1);
      border-radius: 50%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &-container {
      display: grid;
      gap: 3rem;
    }
  }

  &__statistics {
    display: flex;
    gap: 4rem;

    p:first-child {
      font-family: 'Gideon Roman', cursive;
      @include font.set(3.6rem, 400, colors.primary(400, 1));

      @include media.tablet {
        font-size: 5.6rem;
      }
    }

    p:last-child {
      @include font.set(2.4rem, 400, colors.primary(700, 1));

      @include media.tablet {
        font-size: 3.2rem;
      }
    }
  }

  &__socials-container {
    display: none;
  }
}