@use 'colors';

@mixin set($font-size: 1rem, $font-weight: 400, $color: colors.primary(900)) {
  font-size: $font-size;
  font-weight: $font-weight;
  color: $color;
}

@mixin get-heading() {
  font-family: 'Gideon Roman', cursive;
}

@mixin get-regular() {
  font-family: 'Raleway', sans-serif;
}