@use 'colors';
@use 'font';
@use 'breakpoints' as media;

body {
  background-color: colors.background();
  background-image: url(../img/bg.png);
  background-size: cover;
  background-position: center;
  font-family: 'Raleway', sans-serif;
  @include font.set(1.8rem, 400, colors.primary(900, 1));
}

h1, 
h2, 
h3, 
h4 {
  font-family: 'Gideon Roman', cursive;
}

h1 {
  @include font.set(6rem, 400, colors.primary(400, 1));

  @include media.desktop {
    font-size: 9.6rem;
  }
}

h2 {
  @include font.set(7.2rem, 400, colors.primary(400, 1));
}

h3 {
  @include font.set(3.6rem, 400, colors.primary(400, 1));
}

h4 {
  margin-bottom: 1.6rem;
  @include font.set(2.4rem, 400, colors.primary(400, 1));
}

p {
  margin-block: 2rem;
  @include font.set(1.8rem, 400, colors.primary(700, 1));
}

a {
  margin-block: 0.8rem;
  @include font.set(1.8rem, 400, colors.primary(700, 1));
  font-family: 'Raleway', sans-serif;
  transition: all 300ms ease;

  &:hover {
    color: colors.primary(400, 1);
    text-decoration: underline;
  }
}

.container {
  width: 90%;
  margin: 0 auto;

  @include media.tablet-lg {
    width: min(80%, 140rem);
  }
}

.btn {
  width: 100%;
  margin: 1rem 0;
  border-radius: 2.4rem;
  padding: 2rem 7rem;
  transition: all 300ms ease;

  &:hover {
    cursor: pointer;
  }

  @include media.mobile {
    width: fit-content;
  }
  
  &--primary {
    background-color: colors.primary(400, 1);
    color: colors.white();

    &:hover {
      background-color: colors.primary(700, 1);
    }
  }
}